<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!-- Disable NuGet Package Validation -->
        <add key="signatureValidationMode" value="accept" />
        <add key="dependencyversion" value="Highest" />
    </config>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/Alludo-WinZip/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="%GITHUB_NAME%" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github>
    </packageSourceCredentials>
</configuration>