<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SafeShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SafeShare.Properties.Settings>
            <setting name="ConvertOptAddWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptWatermarkAngle" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ConvertOptWatermarkOpacity" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ConvertOptWatermarkDateStampIsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptWatermarkTimeStampIsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptWatermarkContent" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertOptWatermarkTextPosition" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ConvertOptRemovePersonalData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptFilesToPdf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptRemoveComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptRemovemarkup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptMakePdfReadonly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConvertOptQuality" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ConvertOptCombineIntoOnePdf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptDeleteOriginalFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptUseWipeToDeleteFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertOptReducePhoteResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteFileDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LocalDeviceChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomEncryptPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveCopyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReducePhotosChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteFileChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailAttachmentIsChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailLinkIsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EncryptFile" serializeAs="String">
                <value>False</value>
            </setting>
        </SafeShare.Properties.Settings>
    </userSettings>
</configuration>